.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Site-content {
  flex: 1;
  width: 100%;
}

.form-control {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
}